* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fefefe;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Open Sans', sans-serif;
}

html, body, .christmas {
  height: 100%;
  background: #3E4077;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  padding-bottom: 30px;
  max-width: 600px;
  margin: 0 auto;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  max-width: 200px;
  margin: 15px auto;
  display: block;
  cursor: pointer;
}

a:hover span{
  background: #fefefe;
  color: #3E4077;
}

.button span {
  flex: 10;
  padding: 10px;
  border-radius: 6px;
  min-width: 120px;
  display: inline-block;
  border: #fefefe 1px solid;
  margin-left: 10px;
}

.button i {
  font-size: 40px;
  vertical-align: middle;
}
