*{
	margin:0 auto 0 auto;
	color: #7a7a7a;
}

body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:13px;
	font-family:arial,halvetica;
	background-color:#f0f0f0;
	background-image:url(../images/backgroundd.png);
	background-repeat:repeat-x;
}

nav{
	height:52px;
	width:980px;
	background:#ffffff;
	margin-bottom:20px;
	border-bottom: solid 1px #e5e5e5;
	
}

table{
	width:100%;
	text-align: center;
	margin:0px;
	padding:0px;
	border-style: none;
}

th{
	color: #ffffff;
	height: 52px;
	background: #417bca;
	padding:0px;
	margin:0px;
	border-style:none;
}

tr{
	margin:0px;
	padding:0px;
	border-style:none;
}

ul{
	overflow: hidden;
}


p{
	float:right;
}

b{
	color: #000000;
}

button{
	border-style: none;
	background: none;
	outline: none;
}

#container{
	width:980px;
}

#topLine{
	height: 53px;
	background: #ffffff;
	margin-bottom: 1px;
	border-bottom: 1px solid #e5e5e5;

}

#alarm{
	color: #000000;
	width: 165px; 
	text-align:right;
	background-image:url('../images/alarm.png'); 
}

#rightList{
	list-style:none;
	width:940px;
}

#rightList li{
	list-style: none;
	display: inline;
	float:right;
	text-decoration: none;
	height: 53px;
	border-right: 1px solid #E5E5E5;
	padding: 19px 10px 0 10px;
}

#rightList1{
	list-style: none;
	width:980px;
	height:54px;
	margin:0px;
	padding:0px;
}

#rightList1 li{
	list-style: none;
	display: inline;
	float:right;
	text-decoration: none;
	height: 54px;
	border-right: 1px solid #E5E5E5;
	padding: 0;
}

#leftList{
	list-style: none;
	width:980px;
	height:53px;
	float:left;
	padding:0px
}

#leftList li{
	list-style: none;
	display: inline;
	float:left;
	text-decoration: none;
	height: 52px;
	border-left: 1px solid #E5E5E5;
	border-bottom: 1px solid #e5e5e5;
	padding: 19px 10px 0 10px;
}

#leftList1{
	list-style: none;
	height:53px;
	float:left;
	padding:0px
}

#leftList1 li{
	list-style: none;
	display: inline;
	float:left;
	text-decoration: none;
	height: 52px;
	border-left: 1px solid #E5E5E5;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 10px 0 10px;
	font-weight: bold;
}

#menu{
	width: 980px;
	height:53px;
	border-bottom: 5px solid #d8d8d8;
	margin-bottom:18px;
}

#calendar{
	height:53px;
	width:980px;
	background:#ffffff;
	margin-bottom:19px;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #b5b6b6;

}

#blue{
	color: #417bca;
}

#white{
	color: #ffffff;
}

#smallButton{
	background:#E5E5E5;
	height:40px;
	float:right;
	width:85px;
	border-left: 1px solid #b5b6b6;
	padding: 13px 0 0 22px;
}

#smallButton button{
	width: 30px;
	height: 30px;
	border-radius: 25px;
}

#smallButtonNext{
	background-image:url(../images/smallbuttonnext.png);
}

#smallButtonPrevious{
	background-image:url(../images/smallbuttonprevious.png);
}

#newsContainer{
	float: left;
	width: 700px;
	height: 1040px;
}

#newestFrame{
	float: left; 
	margin: 0 0 18px 0;
	width:700px;
	height:340px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #b5b6b6;
}

#flagUnderline{
	border-bottom: 1px solid #E5E5E5;
}

#commentMiddle{
	vertical-align: middle;
}

#news{
	width: 340px;
	height: 300px;
	margin: 0 17px 18px 0;
	background:#ffffff;
	float: left;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #b5b6b6;
}

#bigButton{
	width: 340px;
	height: 45px;
	margin: 0 17px 18px 0;
	background:#ffffff;
	float: left;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #b5b6b6;
}

#bigButton h3{
	color: #000000;
	
}

#bigButtonPrevious{
	width: 340px;
	height: 45px;
	text-align: left;
	padding-left: 35px;
	background-image: url(../images/buttonprevious.png);
}

#bigButtonNext{
	width: 340px;
	height: 45px;
	text-align: right;
	padding-right: 35px;
	background-image: url(../images/buttonnext.png);
}

#comercialContainer{
	width:260px;
	height:1040px;
	float:right;
}

#comercialData{
	height: 70px;
	margin: 0;
	padding: 0;
}

#comercial{
	padding:0;
	width: 260px;
	height: 480px;
	background: #ffffff;
	float: right;
	margin-bottom: 18px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	border-bottom: 2px solid #b5b6b6;
}

.logo{
	width: 145px;
	height: 146px;
	position: relative;
	top: -43px;
	left: -490px;
	border-style: none;
	background: #ffffff;
	border-radius:145px;
}

#bottomLine{
	height: 270px;
	background: #ffffff;
}

#bottomLineContainer{
	width:1040px;
}

#footer{
	background: #ffffff;
	height: 50px;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}

#foot{
	padding-top:10px;
	width: 1040px;
}

#bottom{
	width:250px;
	float:left;
	padding-top: 35px;
}

#bottomHead{
	color: #417bca;
	margin-bottom: 15px;
}


#bottom ul{
	margin-bottom:10px;
	list-style:none;
	padding:0;
}

#bottom li{
	list-style: none;
	line-height:1.85em;
	text-decoration: underline;
}

#newsContainer{
	width: 700px;
	height: 710px;
}

.photoFrame{
	width:980px;
	height:283px;
}

.newestPic{
	position: absolute;
}

.newestInfo{
	height: 245px;
	width: 235px;
	background: #000000;
	top: 20px;
	left: 20px;
	opacity: 0.8;
	position: absolute;
}

.photoFrame img{
	vertical-align: super;
	float:left;
}

.newestInfo table{
	text-align: left;
}

.newestInfo td{
	border-bottom: 1px solid #e5e5e5;
	padding-left: 12px;
}

.newestInfo p{
	float: left; padding-top: 15px;
	color: #e5e5e5;
	font-weight: bold;
}

.mainPhoto{
	position:absolute;
}

.social{
	width: 980px;
	height: 54px;
	background: #000000;
	opacity: 0.7;
	position: absolute;
}

.newsPic{
	position: absolute;
}

.newsTop{
	width:340px;
	height:25px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

.newsContent{
	padding: 15px 0px 0px 0px;
	width:300px;
	height:225px;
	word-wrap: break-word;
	overflow: hidden;
	clear:both;
}

.newsContent h2{
	color:#000000;
}

.newsDate{
	position: absolute;
	top:13px;
	padding-left: 15px;
	background: #ffffff;
	width: 80px;
	height:25px;
}

.newsBottom{
	width: 325px;
	height: 24px;
	word-wrap: break-word;
	background: #f2f2f2;
	border-top: 1px solid #d9d9d9;
	padding-top:10px;
	padding-left: 15px;
	color: #000000;
}

.newsBottomA{
	color: #000000;
	float: right;
	padding-right: 15px;
	font-weight: bold;
}

.newsBottomAA{
	color: #e5e5e5;
	float: left;
	padding-left: 45px;
	font-weight: bold;
}

.newsBottom img{
	float: right;
}

.newsBottomComments{
	border-left: 1px solid #d9d9d9;
}

.newsBottom h4{
	color: #000000;
	padding: 10px 0px 0px 10px;
}

.newsDate h2{
	color: #417bca;
}