html {
  background: #e1e1e1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.card {
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #afadad;
  box-sizing: border-box;
  padding: 20px 10px;
  transition: all 0.3s;
}

.card .img-wrapper {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.card p {
  padding-top: 10px;
  font-family: Arial;
  text-align: center;
}


.card:hover {
  background: #afadad;
}
